<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule index.php - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
</IfModule>

<FilesMatch "\.(htaccess|htpasswd|php)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "index\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
