@import "../node_modules/mfbs/sass/variables";

$color-link-visited: $color-link;
$color-link-visited-focus: $color-link-focus;

@import "../node_modules/mfbs/sass/base";
@import "../node_modules/mfbs/sass/form";
@import "../node_modules/mfbs/sass/layout";

textarea {
	display: block;
	width: 100%;
	margin-bottom: $spacer;
}

.CodeMirror-scroll,
textarea {
	max-height: 60vh;
}

input[type="file"] {
	border: 0;
	padding: 0;
}

.form--line {
	display: flex;
	margin-bottom: $spacer;

	input,
	select {
		flex: 1 1 auto;
		min-width: 0;
		margin-right: $padding;
	}
}

button {
	white-space: nowrap;
}

.button--danger {
	@include button-color($color-invalid, white, darkred);
}

.button--small {
	line-height: 1.5;
	padding: 0 0.3em;
}

.button-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: $spacer;
}

header {
	border-bottom: 1px solid $color-border;
	margin-bottom: 2 * $spacer;
	padding: ($padding / 2) 0;
}

.file-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: $spacer;

	li {
		border-bottom: 1px solid $color-border;
		padding: ($padding / 2) $padding;
		display: flex;
		align-items: center;
	}

	.file-list__main {
		flex: 1 1 auto;
	}

	.file-list__icon {
		width: 1em;
		margin-right: $padding;
	}
}

.form-error {
	color: $color-invalid;
	font-size: 80%;
}
