<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>pupupu - {{ site_title }}</title>
    <link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/simplemde/dist/simplemde.min.css">
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
    <header>
        <nav>
            <a href="?">{{ 'pages'|trans }}</a>
            <a href="?path=%2F_files">{{ 'files'|trans }}</a>
            <a href="?path=%2F_site">{{ 'site'|trans }}</a>
            <a href="?path=%2F_users">{{ 'users'|trans }}</a>
        </nav>

        {% if langs %}
            <nav aria-label="{{ 'translations'|trans }}">
                <a href="?path={{ path|e('url') }}">{{ 'default'|trans }}</a>
                {% for l in langs %}
                    <a href="?path={{ path|e('url') }}&lang={{ l|e('url') }}">{{ l }}</a>
                {% endfor %}
            </nav>
        {% endif %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <script src="node_modules/simplemde/dist/simplemde.min.js"></script>
    <script src="static/main.js"></script>
</body>
</html>
