{% extends 'base.html' %}

{% block breadcrumbs %}
    {% for name, path in breadcrumbs %}
        / <a href="?path={{ path }}">{{ name }}</a>
    {% endfor %}

    {% if not pathIsFile %}
        / <form>
            <input type="hidden" name="path" value="{{ path }}">
            <input type="text" name="add" list="subpages" autocomplete="off">
            <datalist id="subpages">
                {% for name, path in subpages %}
                    <option value="{{ name }}">
                {% endfor %}
            </datalist>
        </form>
    {% endif %}
{% endblock %}

{% block main %}
    <form method="POST">
        <label>
            Body
            <textarea name="md">{{ md }}</textarea>
        </label>

        <label>
            Metadata
            <textarea name="yml">{{ yml }}</textarea>
        </label>

        <input type="submit" value="Save">
        <input type="submit" class="button--danger" name="delete" value="Delete">
        <a href="{{ path }}/" target="_blank" class="button">View</a>
    </form>
{% endblock %}
