{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        <label>
            Body
            <textarea name="md">{{ data.md }}</textarea>
        </label>

        <label>
            Metadata
            <textarea name="yml">{{ data.yml }}</textarea>
        </label>

        <input type="submit" value="Save">
        <input type="submit" class="button--danger" name="delete" value="Löschen">
    </form>

    <nav aria-label="Subpages">
        <ul>
            {% for name, _path in subpages %}
                <li><a href="?path={{ _path }}">{{ name }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <a href="{{ path }}/" class="button">View</a>
{% endblock %}
