{% extends 'base.html' %}

{% block main %}
    <form method="POST">
        <label>
            {{ 'Body'|trans }}
            <textarea name="md">{{ md }}</textarea>
        </label>

        <label>
            {{ 'Metadata'|trans }}
            <textarea name="yml">{{ yml }}</textarea>
            {% if error %}
                <p class="form-error">{{ 'Data is invalid'|trans }}</p>
            {% endif %}
        </label>

        <div class="button-row">
            <div>
                <input type="submit" value="{{ 'Save'|trans }}">
                <input type="submit" class="button--danger" name="delete" value="{{ 'Delete'|trans }}">
            </div>
            <div>
                <a href="{{ url }}" target="_blank" class="button">{{ 'View'|trans }}</a>
            </div>
        </div>
    </form>
{% endblock %}
