{% extends 'base.html' %}

{% block main %}
    <ul class="file-list">
        {% for file in files %}
            <li>
                {% if file.is_file %}
                    {% if file.is_image %}
                        <img src="{{ file.url }}" class="file-list__icon" alt="{{ 'image'|trans }}">
                    {% else %}
                        <img src="static/file.png" class="file-list__icon" alt="{{ 'file'|trans }}">
                    {% endif %}
                    <a href="{{ file.url }}" target="_blank" class="file-list__main">{{ file.name }}</a>
                {% else %}
                    <img src="static/folder.png" class="file-list__icon" alt="{{ 'folder'|trans }}">
                    <a href="?path=_uploads{{ file.path }}" class="file-list__main">{{ file.name }}/</a>
                {% endif %}

                {% if file.name != '..' %}
                    <form method="post">
                        <input type="hidden" name="name" value="{{ file.name }}">
                        <button class="button--danger button--small" name="delete">{{ 'Delete'|trans }}</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
        <li>
            <form method="post" enctype="multipart/form-data" class="flex-ignore">
                <input type="file" name="file" class="input--invisible file-list__main">
                <input type="submit" value="{{ 'Upload file'|trans }}" class="button--small">
            </form>
        </li>
        <li>
            <form method="post" class="flex-ignore">
                <input type="text" name="folder" placeholder="{{ 'name'|trans }}" class="input--invisible file-list__main">
                <input type="submit" value="{{ 'Create folder'|trans }}" class="button--small">
            </form>
        </li>
    </ul>
{% endblock %}
