{% extends 'base.html' %}

{% block main %}
    <ul>
        {% for name, url in files %}
            <li>
                <a href="{{ url }}" target="_blank">{{ name }}</a>
                <form method="post">
                    <input type="hidden" name="name" value="{{ name }}">
                    <button class="button--danger" name="delete">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Save">
    </form>
{% endblock %}
